body {
  margin-top: 50px;
  background-color: #fff;
}

@media(max-width:768px) {
  body {
    margin-top:100px;
  }
}
.container-fluid{
  padding:3px;
}


/* Top Navigation */
.top-nav {
  padding: 0 15px;
}

.top-nav>li {
  display: inline-block;
  float: left;
}

.top-nav>li>a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
  color: #fff;
  background-color: #000;
}

.top-nav>.open>.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
  white-space: normal;
}

ul.message-dropdown {
  padding: 0;
  max-height: 400%;
  overflow-x: hidden;
  overflow-y: auto;
}

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
  padding:5%;
}

li.message-footer {
  margin: 2% 0%;
}

ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 51px;
    left: 175px;
    width: 175px;
    margin-left: -175px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .side-nav>li>a {
    width: 200px;
  }

  .side-nav li a:hover,
  .side-nav li a:focus {
    outline: none;
    background-color: #000 !important;
  }
}

.side-nav>li>ul {
  padding: 0;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav>li>ul>li>a:hover {
  color: #fff;
}
.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}

.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 10%;
  overflow-y: scroll;
}
.panel-default{
  margin:1%;
}
.clazzrum-leftPadding{
	margin-left:165px
}

@media(max-width:768px) {
  .clazzrum-leftPadding {
    margin-left:0px
  }
}

.box {
  background:#fff;
  transition:all 0.2s ease;
  border:2px dashed #dadada;
  margin-top: 1%;
  box-sizing: border-box;
  border-radius: 5px;
  background-clip: padding-box;
  padding:0 3% 3% 3%;
}

.box:hover {
  border:1% solid #525C7A;
}

.box span.box-title {
  color: #fff;
  font-size: 18%;
  font-weight: 300;
  text-transform: uppercase;
}

.box .box-content {
  padding: 3%;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.box .box-content p {
  color:#515c66;
  text-transform:none;
}

.agenda {  }

/* Dates */
.agenda .agenda-date { width: 170px; }
.agenda .agenda-date .dayofmonth{
  font-size: 36px;
  line-height: 36px;
}

.notification{
    position: fixed;
    top: 0
    left: 0;
    width: 100%;
    z-index: 1000;
}
.loading
{
  width:100%;
    height:100%;
    position : fixed;
    z-index: 100;
    background-color:#666;
    opacity : 0.4;
    background-repeat : no-repeat;
    background-position : center;
    left : 0;
    bottom : 0;
    right : 0;
    top : 0;
  }

.spinner div {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #333;
  border-radius: 50%;
  animation: move 4s infinite cubic-bezier(.2,.64,.81,.23);
}
.spinner div:nth-child(2) {
  animation-delay: 150ms;
}
.spinner div:nth-child(3) {
  animation-delay: 300ms;
}
.spinner div:nth-child(4) {
  animation-delay: 450ms;
}
@keyframes move {
  0% {left: 0%;}
  75% {left:100%;}
  100% {left:100%;}
}